.items-wrapper {

  .display-style {
    display: flex;
    flex-wrap: wrap;
    flex: 1;

    .product-card {
      padding: 0;
      flex: 0 20%;
      display: flex;
      border: solid 1px beige;
      justify-content: flex-start;
      align-content: flex-start;
      height: 250px;
      margin: 2px;

    }
  }
}