.item-card-style {
  margin: 2px;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  text-align: center;

  .img-section-style {
    width: 100%;
    height: 60%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .desc-section-style {

  }

  .price-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    margin: 0 auto;

    h6 {
      display: inline-block;
      height: 100%;
      width: 100%;
      margin: 0 auto;
      font-family: "Trebuchet MS";
      font-size: 14px;
      color: #2a6496;
    }
  }

}