.item-card-style {
  margin: 2px;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  text-align: center;

  .img-section-style {
    width: 100%;
    height: 60%;
    display: block;
    overflow: hidden;
    position: relative;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    .savings-on-img-style {
      background-color: darkgrey;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      line-height: 18px;
      z-index: 10;
      position: absolute !important;
      bottom: 8%;
      left: 0;
      width: auto;
      border-radius: 4px;
      color: white;
      font-size: 14px;

      .savings-text-style {
        background-color: grey;
        font-size: 15px;
        padding: 2px;
      }

      .discount-style {
        background-color: red;
        font-size: 15px;
        padding: 2px;
      }
    }
  }

  .desc-section-style {
    overflow-x: hidden;
    overflow-y: auto;

  }

  .price-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    margin: 0 auto;

    h6 {
      display: inline-block;
      height: 100%;
      width: 100%;
      margin: 0 auto;
      font-family: "Trebuchet MS";
      font-size: 13px;
      color: #2a6496;
    }

    .org-price-style {

    }

    .sale-price-style {
      margin-top: 2px;
      color: red;
    }
  }

}