.items-wrapper {
  display: flex;
  flex-direction: column;

  .filter-area {
    height: 40px;
    width: 92%;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    h6 {
      margin-top:6px;
      margin-left: 4px;
      opacity: 0.5;
    }

    .chips-style {
      display: flex;
      flex-direction: row-reverse;


      .badge {
        color: white;
        background-color: #34495e;
        margin: 0 3px 0 3px;
      }
    }



  }

  .display-style {
    display: flex;
    flex-wrap: wrap;
    flex: 1;

    .product-card {
      padding: 0;
      flex: 0 18%;
      display: flex;
      border: solid 1px #34495e;
      justify-content: flex-start;
      align-content: flex-start;
      height: 250px;
      margin: 2px;

    }
  }
}